%div.modal.fade{id:'login-alert-modal', tabindex:'-1', role:'dialog', 'aria-laballedby':'exampleModalLabel',
'aria-hidden':'true'}
    %div.modal-dialog{role:'document'}
        %div.modal-content
            %div.modal-header
                %h5.modal-title{id:'exampleModalLabel'} Alert
                %button.close{type:'button', 'data-dismiss':'modal', 'aria-label':'Close'}
                    %span{'aria-hidden':'true'}&times;
            %div.modal-body Please signup/signin to proceed
            %div.modal-footer
                %button.btn.btn-secondary{type:'button', 'data-dismiss':'modal'} Close
