@import 'bootstrap';
@import 'mobile_view';
@import "bootstrap_override";
@import 'pagination';
@import 'listings';
@import 'users';

html {
    min-height: 100%;
    position: relative;
    }


body {
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}
