// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form#new_listing {
    label {
        //color: white;
    }
}

.listing-title {
    div * {
        margin-left:0;
        margin-right: 0;
    }
}

.row.listing-details {
    .allowed {
        text-decoration: line-through;
    }
}

div.listing-info {
    span {
        //white-space: pre;
        margin-right: 5px;
    }
}