%ul.nav.fixed-top
    %li.nav-item
        %a.nav-link.active{href:'#'} Home
    %li.nav-item
        %a.nav-link{href:'#'} Login
    %li.nav-item
        %a.nav-link{href:'#'} Signup
    %li.nav-item
        %a.nav-link{href:'#'} About Us
